{% if site.has_donation_page? and site.donation_page.is_nav? %}
	<a class="btn btn-primary" href="{{ site.donation_page.url }}" title="{{ site.donation_page.headline}}">{{ site.donation_page.name }}</a>
{% endif %}
{% if site.show_public_profiles? %}
	{% unless request.logged_in? or request.sorta_logged_in? %}
		<a class="btn btn-default" href="/login" title="Log in">Sign in</a>
	{% endunless %}
{% endif %}
{% if site.broadcaster.has_facebook? or site.broadcaster.has_twitter? %}
	<div class="follow-buttons hidden-xs">
		<h6 class="accent strong">Follow</h6>
		{% if site.broadcaster.has_facebook? %}
			<a href="{{ site.broadcaster.facebook_page_profile_url }}"><i class="icon-facebook"></i></a>
		{% endif %}
		{% if site.broadcaster.has_twitter? %}
			<a href="{{ site.broadcaster.twitter_profile_url }}"><i class="icon-twitter"></i></a>
		{% endif %}
	</div>
{% endif %}
