{% assign signup = page.author %}
{% comment %}

<div class="byline padtopless">

	<h6 class="strong secondary margintop">{% if page.type_name == 'Press Release' %}Media Contact{% else %}About the {% if page.type_name == 'Event' %}host{% else %}author{% endif %}{% endif %}</h6>

	{% include "signup_show" %}

  {% if site.has_rule_page? and request.logged_in? %}<h6 class="strong">Is there something you need to report on this page?</h6><h6 class="strong accent marginbottommore"> <a href="{{ page.flag_url }}" class="flag">Flag this post.</a></h6>{% endif %}

</div>
{% endcomment %}
