<style>
  .pagecontent {
    background: #fff;
    border-radius: 6px;
    padding: 2rem;
  }

  .inner-consent {

  }
  .contact-form div.checkbox {
    padding-left: 20px;
  }
  @media only screen and (min-width: 1024px) {
    .pagecontent {
      margin-top: -70px;
      border: 1px solid #e2e3e0;
    }
  }

  .page-head {
  {% for attachment in page.attachments %}
  {% if attachment.file_name contains "header" %}
  background: url('{{ attachment.url }}') no-repeat fixed center center / cover  transparent;
  {% endif %}
  {% endfor %}
  }
  .page-head .overlay {
    background: rgb(209,75,143);
    background: -moz-linear-gradient(100deg, rgba(209,75,143,1) 0%, rgba(159,23,106,1) 50%, rgba(0,121,193,1) 100%);
    background: -webkit-linear-gradient(100deg, rgba(209,75,143,1) 0%, rgba(159,23,106,1) 50%, rgba(0,121,193,1) 100%);
    background: linear-gradient(100deg, rgba(209,75,143,1) 0%, rgba(159,23,106,1) 50%, rgba(0,121,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d14b8f",endColorstr="#0079c1",GradientType=1);
  {% for attachment in page.attachments %}
  {% if attachment.file_name contains "header" %}
  background: url('{{ attachment.url }}') no-repeat fixed center center / cover  transparent !important;
  {% endif %}
  {% endfor %}
}

</style>
<div class="page-head parallax">
  <div class="overlay">
    <div class="container">
      <div class="row page-head-title text-center">
        <div class="col-lg-12">
          <h1>{{page.title}}</h1>
          {% if page.headline.size > 0 %}
          <p>{{page.headline}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% assign rFoto ='' %}
{% for attachment in page.attachments %}
{% if attachment.file_name contains "right" %}
{% capture rFoto%}{{ attachment.url }}{% endcapture %}
{% endif %}
{% if attachment.file_name contains "left" %}
{% capture rFoto%}{{ attachment.url }}{% endcapture %}
{% endif %}
{% if attachment.file_name contains "thumb" %}
{% capture rFoto%}{{ attachment.url }}{% endcapture %}
{% endif %}
{% if attachment.file_name contains "list" %}
{% capture rFoto%}{{ attachment.url }}{% endcapture %}
{% endif %}
{% endfor %}

<div class="page-base">
  <div class="no-overlay">
    <div class="container">
      <div class="row">
        <div class="pagecontent">
          <div>
            {% include "like_page" %}
            {% if page.tags_count > 0 %}
            <div class="page-tags">
              {% include "page_tags" with page %}
            </div>
            {% endif %}
          </div>
          <div id="content">
            <div class="row">
              <div class="{%if rFoto.size > 0 %}col-lg-6{% else %}col-lg-12{% endif %}">
                {{ page.blog_post.content_full }}
              </div>
              {%if rFoto.size > 0 %}
              <div class="col-lg-6 sideFoto">
                <img class="img-responsive" src="{{rFoto}}"/>
              </div>
              {% endif %}
            </div>
            <div class="items row">
              {% for attachment in page.attachments %}
              {% unless attachment.file_name contains "list" %}
              {% unless attachment.file_name contains "left" %}
              {% unless attachment.file_name contains "right" %}
              {% unless attachment.file_name contains "header" %}
              {% unless attachment.file_name contains "thumb" %}
              {% unless attachment.file_name contains "list" %}
              <div class="col-md-4">
                <div class="promotion-item">
                  <figure class="promo-thumb">
                    <img src="{{ attachment.url }}"/>
                  </figure>
                  <div class="promo-meta clearfix">
                    <span class="meta-inner" style="width: 100%;"><i class="fa fa-tag"></i> {{attachment.file_name}}</span>
                  </div>
                  <div class="btn-set">
                    <a href="{{attachment.url}}" target="_blank" class="btn btn-primary" style="color:#FFF;">Scarica</a>
                  </div>

                </div>
              </div>
              {% endunless %}
              {% endunless %}
              {% endunless %}
              {% endunless %}
              {% endunless %}
              {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
        {%if rFoto.count>0 %}

        {% endif %}
      </div>
    </div>
  </div>
</div>
